*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.txtWhite{color: white;}
.op05{opacity: 0.5;}

a{text-decoration: none;}

.flex{display: flex;}
.justifyFlexEnd{justify-content: flex-end;}
.justifySpaceBetween{justify-content: space-between;}
.alignItemsCenter{align-items: center;}
.directionColumn{flex-direction: column;}
.justifyCenter{justify-content: center;}
.h100{height: 100%;}

.row {display: flex;
flex-wrap: wrap;}

.col90{width: 90%;}

.padB1{padding-bottom: 1rem;}
.padb05{padding-bottom: 0.5rem;}
.padL05{padding-left: 0.5rem;}
.padR1{padding-right: 1rem;}
.gap05{gap: 0.5rem;}
.gap1{gap: 1rem;}

.FS14{font-size: clamp(0.875rem, 0.7593rem + 0.6173vw, 1.5rem);}
.FS10{font-size: clamp(0.625rem, 0.544rem + 0.4321vw, 1.0625rem);}
.FS8{font-size: clamp(0.5rem, 0.4306rem + 0.3704vw, 0.875rem);}
.FS6{font-size: clamp(0.375rem, 0.3056rem + 0.3704vw, 0.75rem);}

/******* MAIN *****/
main{   
    height: calc(100vh - 70px);
}

#sideNav{
    width: 60px;
    background-color: #222;
    height: 100%;
    /* padding-left: 0.5rem; */
    color: white;
    overflow-y: hidden;
}
.highlight a{color: white;}
.highlight{opacity: 0.5;}
.highlight:hover{opacity: 1;}
.logo{
    padding: 1rem 0rem 1.5rem 0.5rem;
    width: 70%;
}

.plus{
    font-size: 2.5rem;
    margin-right: 0.5rem;
}
.topNavIcon{
    width: 15%;
}
.topNavIconSmall{width: 7%;}
.playlists{
    height: 50%;
    overflow-y: auto;
}

.install{
    margin-left: -6px;
}

.userCircle{
    background-image: url(../img/profile.svg);
    background-size: contain;
    background-position: center;
    background-color: #ffffff88;
    border-radius: 50%;
    height: 21px;
    aspect-ratio: 1/1;
}

.largeNav{display: none;}

.smallNavIcon{width: 50%;}
#bigWrapper{
    width: calc(100% - 60px);
    background-color: aquamarine;
}

#upgrade{
    position: fixed;
    width: calc(100% - 60px);
    height: 60px;
    background-color: #00000077;
}

.headBut{
    border-radius: 100px;
    border: 1px solid white;
    background-color: transparent;
    padding: 0.5rem 1.5em;
    margin-right: 0.5em;
}

#content{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    overflow-y: auto;
}

#content nav{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: center;
    margin: 0 auto;
}

#content nav a {
    padding: 1rem 0.5rem 0rem 0.5rem;
    /* width: 50%; */
}

.recentlyPlayedSection{
    padding: 1rem 0rem 1rem 1rem;
}

.sectionTitle{
    margin-bottom: 1rem;
}

.card{
    width: 50%;
    padding: 1rem 1rem 0rem 0rem;
}

.card img{width: 100%;}
/********* FOOTER *******/
footer{
    width: 100%;
    background-color: bisque;
    height: 70px;
    z-index: 999;
}
/********** MEDIA QUERY ************/

/********* SMARTPHONE *********/
@media screen and (min-width:480px) /*and (max-width:768px)*/{
    #sideNav{
        width: 200px;
        padding-left: 0.5rem;
    }
    .largeNav{
        display: inherit;
    }
    .smallNav{
        display: none;
    }
    .install{
        margin-left: 0px;
    }
    #upgrade{
        width: calc(100% - 200px);
    }
    #bigWrapper{
        width: calc(100% - 200px);
    }
    /*#content nav a {
        width: calc(100%/3); 
    }*/
    .card{
        width: calc(100%/3);
    }
}
/********* TABLET *********/
@media screen and (min-width:768px) /*and (max-width:992px)*/{
    /*#content nav a {
        width: calc(100%/4); 
    }*/
    .card{
        width: calc(100%/4);
    }
}
/********* DESKTOP *********/
@media screen and (min-width:992px) /*and (max-width:1201px)*/{
    /*#content nav a {
        width: calc(100%/6); 
    }*/
    .card{
        width: calc(100%/6);
    }
}
/********* LARGE DESKTOP *********/
@media screen and (min-width:1201px) {
    
}